# suppressing incorrect or ignored checks in code: https://clang.llvm.org/extra/clang-tidy/#id3
---
# before space is style guide
# the rest are good checks to conform to
# - prefix disables that check globally
Checks: >-
    llvm-namespace-comment,
    readability-*,
    -readability-named-parameter,
    -readability-identifier-length,

    bugprone-*,
    -bugprone-easily-swappable-parameters,
    concurrency-*,
    performance-*,
    portability-*,
    modernize-*,
    -modernize-use-trailing-return-type,
    -modernize-use-nodiscard,
    cert-*,
    misc-*,
    -misc-non-private-member-variables-in-classes,
    fuchsia-trailing-return,
    google-build-using-namespace,
    google-explicit-constructor,
    hicpp-exception-baseclass,
    hicpp-multiway-paths-covered,
    hicpp-no-assembler,
    hicpp-signed-bitwise,
    cppcoreguidelines-avoid-goto,
    cppcoreguidelines-avoid-non-const-global-variables,
    cppcoreguidelines-init-variables,
    cppcoreguidelines-interfaces-global-init,
    cppcoreguidelines-macro-usage,
    cppcoreguidelines-narrowing-conversions,
    cppcoreguidelines-no-malloc,
    cppcoreguidelines-prefer-member-initializer,
    cppcoreguidelines-pro-type-*,
    cppcoreguidelines-slicing,
    cppcoreguidelines-virtual-class-destructor,
CheckOptions:
    - key: readability-identifier-naming.ClassCase
      value: CamelCase
    - key: readability-identifier-naming.EnumCase
      value: CamelCase
    - key: readability-identifier-naming.EnumConstantCase
      value: CamelCase
    - key: readability-identifier-naming.FunctionCase
      value: CamelCase
    - key: readability-identifier-naming.VariableCase
      value: camelBack
    - key: readability-identifier-naming.ParameterCase
      value: camelBack
    - key: readability-identifier-naming.MemberCase
      value: CamelCase # technically camelBack, but m prefix is always the first lower case
    - key: readability-identifier-naming.MemberPrefix
      value: m
    - key: readability-identifier-naming.ClassConstantCase # static class variables
      value: aNy_CasE # mostly upper case
    - key: readability-identifier-naming.GlobalConstantCase
      value: aNy_CasE # mostly upper case
    - key: readability-identifier-naming.MacroDefinitionCase
      value: UPPER_CASE
    - key: readability-identifier-naming.MacroDefinitionPrefix
      value: ATT_
