# Default behavior
* text=auto

# Normalize source files to native line endings on checkout
*.c text
*.cpp text
*.h text
*.json text
*.yaml text
*.cmake text
*.cmake.in text
*.txt text
*.md text

# Mark binary files
*.png binary
*.gif binary
*.mkv binary
*.jpg binary
*.mp4 binary
*.exe binary
